:root {
    --clr-neutral-100: #FFF;
    --clr-neutral-bkgnd:rgb(249, 247, 247);
    --ff-primary: 'Mulish', sans-serif;
    --ts-black: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

html { 
    overflow-x: hidden; 
}

* {
    /* margin: 0px;
    padding: 0px; */

    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif;   */
}

body {
    font-family: var(--ff-primary);
    font-weight: 400px;
    font-size: 1.3125rem;

    background-color: var(--clr-neutral-bkgnd);
}

body, h1, h2, h3, p {
    margin: 0;
}

h1, h2, h3 {
    font-weight: 800;
    line-height: 1;
    margin-bottom: 1em;
}

 li a {
    text-decoration:none;
}

a:hover {
    background-color: rgb(120, 120, 120);
  }


.text-center {
    text-align: center;
}

section {
    padding: 3em 0;
}

@media (min-width: 40em) {
    header {
        padding: 2rem 0;

    }
    section {
        padding: 4.5rem 0;
    }
    
}

.container, .grid-container {
    margin-inline: auto;
    width: min(90%, 70.5rem);
}

.split {
    display: flex;
    flex-direction: column;
}

.hero-header {
    padding: 1em;
    text-shadow: var(--ts-black);
    
}


.free-class-button{
    display: block;
    margin: auto;
    padding: 1em;
}

.free-trial-form {
    border:solid black 0.1em;
    padding: 1em;

    
}

form {
    text-align: center;
    display: block;
    padding: 0.5em;

}

.form-item {
 
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5em;


}


/* Starts when below 40em */
@media (min-width: 40em) {
    .split {
        flex-direction: row;
    }

    .split > * {
        flex-basis: 100%;
    }
    .split > * + * {
        margin-left: 2em;
    }  
}

.grid-container {
    display: block;
    margin: auto;

    
}

.img-gallery-ul {
    display: grid;
    grid-template-columns: repeat(2, 4fr);
    grid-gap: 1.2em;
    margin: auto;
    padding: 0;
   
}

.extra-padding {
    padding: 1.5em 0;
}

img {
    display: block;
    max-width: 100%;
    opacity: 0.7;
    filter: grayscale(100%);
}


.freetrial-img {
    max-width: 80%;
    margin: auto;
}

.grid-img-responsive {
    
    /* width: 100%;
    min-height: 100%; */
   
    min-height: 100%;
    width: 100%;
    margin: auto;
}

.img-responsive {
    max-width: 100%;
}




.phone-icon-img {
    height: 3em;
    display: block;
    margin: auto;
}

.footer-img-icon {
    padding: 0.5em 0;
}

.quote-buzz-words {
    background-color: rgb(50, 49, 49);

    color: var(--clr-neutral-100); 
    text-shadow: var(--ts-black)

}

.quote-img {
    max-width: 50%;

    border-radius: 30%;

    margin: auto;
}

.motivational-img {
    height: 12em;
}

.motivational-border {
    border: black 1px solid;
}


@media (max-width: 40em) {
    .grid-img-responsive {
        
        display: block;
        margin: auto;
    }
    

    .motivational-img {

        border: rgb(196, 192, 192) solid 2px;

        margin: auto;
        width: 18.75em;
    }

    .quote-img {
        display: block;
        margin: auto;
    }

   .quote-p {
    text-align: center;
   }
    
}

.footer-section {
    background-color: rgb(103, 103, 103);
    color: var(--clr-neutral-100);
}



.ul-nav, header, .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;

}

.nav-select {
    padding: 0 1.2rem;
    
}


.hero-section {
    background-image: url("./imgs/johann-walter-bantz-HG1pkXN7SVA-unsplash.jpg") ;
    background-size: cover;
    opacity: 50%;
    position: relative;

    height: 31.25em;
    color: var(--clr-neutral-100);
    /* color: white; */

    text-shadow: 2em;
}

 .overlay {
    position: absolute;
    top: 0;
    left: 0;

    background: rgb(51, 27, 230);
    mix-blend-mode:overlay;
} 


.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
} 


/* -------------------------------------------------------------------- */
    /* (max-width: 768px) */
 @media only screen and (max-width: 768px) {

    .burger {
        z-index: 100;
        position: fixed;

       right: 0%;
       
        /* background: rgb(218, 219, 216); */
        border: black 1.2px solid;
     
    }


.nav-links  {
    
    z-index: 3;
    position: fixed;
    right: 0px;
    height: 92vh;
    top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 50%;
    
    background: var( --clr-neutral-bkgnd);
    transform: translateX(100%); 
    transition: transform 0.5s ease-in;
    }

.nav-links li {
        opacity: 0;
    }

.burger {
    display: block;
    cursor: pointer;
    }

.ul-nav-active {
    transform: translateX(0%);
    }

.toggle .line-one {
    transform: rotate(-45deg) translate(-5px,6px)
    }
.toggle .line-two {
    opacity: 0;
    }
.toggle .line-three {    
    transform: rotate(45deg) translate(-5px,-6px)
    }

    @keyframes navLinkFade {
        from{
            opacity: 0;
            transform: translateX(50px)
        }
        to {
            opacity: 1;
            transform: translateX(0px)
        }
    }

/* .nav-select {
    padding: 20px 0;
    } */



















 .nav-links {
    display: flex;
}





/* End of Header */

/* Hero Section */


/* @media (max-width: 24.063em ) {
  {
        
   */















/* About Section */




/* FreeTrial Section */








/* Placeholder Section */




/* img Gallery Section */







/* Hours Section  */

   




/* Quote Section */



/*-----------------------------MOTIVATIONAL SECTION------------------------------------ */


/*-----------------------------MOTIVATIONAL SECTION------------------------------------ */




/* MEDIA QUERIES */
/* (max-width 590px) */
/* ---------------------------------------------------------------------------- */

