@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;800&display=swap');

html { overflow-x: hidden; }
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

main {
    padding: 0 30px;
}

img {
    opacity: 0.8;
    filter: grayscale(100%);
}

header {
    width: 100%;
    padding: 40px 0;
}

#logo-img {
    padding: 0 10px 0 10px;
    margin: 0; 
}

#ul-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
}

.nav-links {
    display: flex;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: purple;
    margin: 5px;
    transition: all 0.3s ease;
}

.nav-select {
    margin: 0 20px; 
}
/* End of Header */

/* Hero Section */
#hero-section {
   
    background-image: url("./imgs/johann-walter-bantz-HG1pkXN7SVA-unsplash.jpg") ;
    background-size: cover;
    opacity: 50%;
    position: relative;
   
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(51, 27, 230);
    mix-blend-mode:overlay;
    
}

#hero-text {
    letter-spacing: 3px;
    height: 800px;
    padding: 0 0 0 50px;
    color: rgb(255, 248, 248);
    text-align: center;
    z-index: 10;
    text-shadow: 2px 2px black;
    border: 2px solid black;
}

#hero-header-big {
    
    font-size: 80px;
    padding: 100px 0 0 0;
   
    
}

/* About Section */
#about-section {
    text-align: center;
    height: 400px;
    padding: 100px 100px;
    margin: 70px 0;
}

#about-title {
    font-size: 50px;
}

/* FreeTrial Section */
#freetrial-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 100px 0;
   
    background: rgb(239, 240, 242);

}

#freetrial-left-side, 
#freetrial-right-side {
    padding: 0 56px;
    width: 50%;
}

#freetrial-right-side {
    padding: 150px 0
}

.freetrial-img {
   height: 600px;
   width: 400px;
  
}

#freetrial-tag {
    font-size: 40px;
}

/* Placeholder Section */
#placeholder-unit-main {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 50px 0;
    text-align: center;
}

#placeholder-unit-main-copy {
     display: flex;
    justify-content: center; 
    flex-direction: row-reverse;
    width: 100%;
    padding: 50px 0;
    text-align: center;
}

#left-side, 
#left-side-copy {
    padding: 0 100px;
}

#left-side-copy,
#right-side-copy {
    display: flex;
    justify-content: center;
    width: 50%
}

#left-side,
#right-side {  
    display: flex;
    justify-content: center;
    width: 50%;
}

.placeholder-img-one {
    height: 300px;
}

/* img Gallery Section */
#img-gallery-section {
    justify-content: center;
    padding: 50px 0;
}

#img-gallery-ul {
   padding: 80px 40px;
}

#img-gallery-section > ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    padding: 0 150px;
}

.box {
    padding: 10px 0;
    height: 350px;
    width: 350px; 
    padding: 5px 5px;
}

/* Hours Section  */
#hours-section {
   
  
    background: rgb(239, 240, 242);
    text-align: center;  
}

#hours-header {
    height: 100px;
  
}



#hours-header h1 {
    font-size: 40px;
}

.hours-date {
    font-size: 20px;
    white-space: nowrap;
}



#hours-body-mid {
    display: flex;
    background: rgb(239, 240, 242);
}

#hours-body-mid li {
    text-align:center;
    padding: 0 20%;
    list-style: none;
}

/* Quote Section */
.quote-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
    text-align: center;
}

.quote-item  {
    padding: 30px 0;
}

.quote-buzz-words {
    font-size: 3rem;

}

#quote-img {
    
    height: 400px;
    border-radius: 50%;
    padding: 0 40px;
 
}


/*-----------------------------MOTIVATIONAL SECTION------------------------------------ */

#motivational-section {
    height: 600px;
    width: 100%;
    display: flex;
    padding: 0 100px;
}

#motivational-left,
#motivational-mid,
#motivational-right {
    width: 33.33%;
    text-align: center;
}

.motivational-img {
    width: 80%;
    height: 300px;
}

/*-----------------------------MOTIVATIONAL SECTION------------------------------------ */


.footer-section {
    background: rgb(237, 234, 234);
    text-align: center;
}







/* MEDIA QUERIES */
/* (max-width 590px) */
/* ---------------------------------------------------------------------------- */
@media only screen and (max-width: 590px) {

#about-section {
     padding: 100px 50px;
    }

#freetrial-section {
     padding:  100px 0 0 0 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

.freetrial-img {
    height: 0.5em;
    padding: 100px 0 0px 0;
    }

#freetrial-left-side {
    height: 50%;
    }

#freetrial-right-side {
    width: 50%;
    }

#freetrial-tag,
#freetrial-p
    {
    text-align: center;
    }
    }

    /* (max-width: 768px)*/
@media only screen and (max-width: 768px) {
header {
    width: 100%;
    text-align: center;
    /* Moving Header */
    z-index: 4;
    position: sticky;
    top: 0px;
    }

#hero-section {
    object-fit: cover;
    }

#logo-img, 
#free-class-button,
#ul-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    }

#free-class-button {
     display: none;
    }
.nav-links {
    z-index: 3;
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    background: rgb(249, 247, 247);
    transform: translateX(100%); 
    transition: transform 0.5s ease-in;
    }

.nav-links li {
        opacity: 0;

    }

.burger {
    display: block;
    cursor: pointer;
    }

.ul-nav-active {
    transform: translateX(0%);
    }

.toggle .line-one {
    transform: rotate(-45deg) translate(-5px,6px)
    }
.toggle .line-two {
    opacity: 0;
    }
.toggle .line-three {    
    transform: rotate(45deg) translate(-5px,-6px)
    }

    @keyframes navLinkFade {
        from{
            opacity: 0;
            transform: translateX(50px)
        }
        to {
            opacity: 1;
            transform: translateX(0px)
        }
    }

.nav-select {
    padding: 20px 0;
    }

 #free-class-button {
    margin: 50px 0 70px 0;
    }

#hero-section {
   
    width: 100%;
    background-position:center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

.box {
    width: 100%;
    }

#placeholder-unit-main {
     display: flex;
    flex-direction: column;
    }

#placeholder-unit-main-copy {
    display: flex;
    flex-direction: column;
    }

#placeholder-unit-main,
#placeholder-unit-main-copy {
    margin: 120px 0;
    }

#left-side-copy,
#right-side-copy {
    width: 100%;
}

#left-side,
#right-side {
    width: 100%;
}

#img-gallery-section {
    margin: auto;
    padding: 0;
    width: 100%;
    }

#hours-section {
     margin-top: 150px;
    }

#hours-body-mid {
    padding: 30px 0;
    }

#quote-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }

#quote-single {
    
    width: 33.33%;
    justify-content: center;
    align-items: center;
    }

.motivational-res, 
.motivational-res p, 
.motivational-img, 
.motivational-res h2  {
    padding: 0 0 40px 0;
    }

#motivational-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 0;
    }

.motivational-res {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.motivational-img{
    width: 200%;

    }

footer {
    display: flex;
    flex-direction: column;
    }
}

/* (max-width: 920px) */
@media only screen and (max-width: 920px) {


#about-section {
    margin: 300px 0;
}
 
#freetrial-section {
    margin: 200px 0;
    width: 100%;


    }

#freetrial-left-side{
    width: 100%;
    }

#freetrial-right-side {
     width: 75%;
    }

#img-gallery-section {
    margin: auto;
    padding: 0;
    width: 100%;
    }

#placeholder-unit-main {
    display: flex;
    flex-direction: column;
    }

#placeholder-unit-main-copy {
    display: flex;
    flex-direction: column;
    }

#placeholder-unit-main,
#placeholder-unit-main-copy {
    margin: 120px 0;
    }

#left-side-copy,
#right-side-copy {
     width: 100%;
}

#left-side,
#right-side {

    width: 100%;
}

.placeholder-p {
    padding: 30px 0;
}

#hours-section {
    margin: 50px 0;
}

#motivational-section {
    padding: 100px 0;
    margin: 300px 0;
}

}
/* (max-width: 1216px)  */
@media only screen and (max-width: 1216px) {

    header {
     background: rgb(249, 247, 247); 
    }

#img-gallery-section #img-gallery-ul, .box {
    display: flex;
    flex-direction: column;
    width: 100%;  
    }

.box {
    height: 350px;
    width: 350px; 
    }

    #motivational-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 700px 0;

    }

    /* .motivational-img {
        width: 400px;
        height: 400px;
    } */
}

