html { overflow-x: hidden; }

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


header {
    width: 100%;
    padding: 40px 0;
}

#logo-img {
    padding: 0 10px 0 10px;
    margin: 0; 
}

#ul-nav {
    display: flex;
    flex-direction: row;
    list-style: none;

    justify-content: space-around;
    /* width: 30%; */
   
}

.nav-links {
    display: flex;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: purple;
    margin: 5px;
    transition: all 0.3s ease;
}


.nav-select {
    margin: 0 20px; 
}

#hero-img {
    background-image: url("./imgs/johann-walter-bantz-HG1pkXN7SVA-unsplash.jpg") ;
    background-size: cover;
    opacity: 50%;
    position: relative;
}

#unit-one-text {
    height: 800px;
    padding: 0 0 0 50px;
    color: white;
    text-align: center;
    
}

#unit-one-header-big {
    
    font-size: 70px;
    padding: 100px 0 0 0;
}

#unit-two {
    background-color: green;
    
}

#unit-two-header {
    text-align: center;
    /* background-color: purple; */
    height: 400px;

    padding: 100px 100px;
}

#unit-two-title {
    font-size: 50px;
    
} 

#placeholder-unit-main {
    background-color: green;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 100px 0;
    text-align: center;
}

#placeholder-unit-main-copy {
    background-color: rgb(227, 169, 9);
     display: flex;
    justify-content: center; 
    flex-direction: row-reverse;
    width: 100%;
    padding: 100px 0;
    
    text-align: center;
}

#left-side, 
#left-side-copy {
    padding: 0 100px;

}

#left-side-copy,
#right-side-copy {
    display: flex;
    justify-content: center;
    width: 50%
}

#left-side,
#right-side {  
    display: flex;
    justify-content: center;
    width: 50%;
}

.placeholder-img-one {
    
    height: 300px;
}

#unit-four {
    /* background-color: green; */
    justify-content: center;
   

}

#unit-four-ul {

   padding: 80px 40px;

}


#unit-four > ul {

    /* padding: 20px 0 20px 0; */

    
    display: grid;
    
    grid-template-columns: repeat(4, 1fr);
    
    /* background: purple; */
    
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;

}

/* .box {
    padding: 0 0 10px 0;
    height: 300px;
    width: 300px; 
} */

.box {
    padding: 10px 0;
    height: 350px;
    width: 350px; 

    padding: 5px 5px;
}


#unit-five-header {
    /* background: green; */
    height: 100px;
}

#unit-five-header h1 {
    font-size: 40px;
}

.unit-five-date {
    font-size: 20px;
}

#unit-five {
   
    background: rgb(239, 240, 242);
    text-align: center;
    
}

#unit-five-body-mid {
    display: flex;
    background: rgb(239, 240, 242);
}

#unit-five-body-mid li {
    text-align:center;
    padding: 0 20%;
    list-style: none;
}

#free-trial-main {
    display: flex;
    flex-direction: row;

    width: 100%;
    padding-top: 200px;
    background: rgb(239, 240, 242);
}

#free-trial-left-side, 
#free-trial-right-side {
    padding: 0 56px;
    
    width: 50%;
}

#free-trial-right-side {
    padding: 150px 0
}

.unit-two-img {
    /* padding: 0 50%; */
    /* align-items: center; */

   height: 600px;
   width: 400px;
  
}

#free-class-tag {
    font-size: 40px;
}


#section-six {
   background: rgb(238, 237, 237);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 250px 50px;
}

#section-six-single {
    width: 33.33%;

}

#section-six-img {
   
   
    height: 300px;
    border-radius: 50%;
}

#section-six h4 {

    margin: auto;
    padding-top: 40px;
    font-size: 20px;
    /* color: blue; */
}

#section-six h2 {
    font-size: 40px;
}




#unit-seven {
    height: 600px;
    width: 100%;
    display: flex;

 
}

#unit-seven-left,
#unit-seven-mid,
#unit-seven-right {
    width: 33.33%;
    text-align: center;
}

.unit-seven-img {
    width: 80%;
    height: 300px;
}

/* MEDIA QUERIES  */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */

@media only screen and (max-width: 590px) {
    

    #free-trial-main {
        padding:  100px 0 0 0 ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .unit-two-img {
        width: 100%;
        padding: 100px 0 0px 0;
    }

    #free-trial-right-side {
        
        width: 100%;
    }

    #free-class-tag,
    #free-class-p
    {
        text-align: center;

    }


    }


@media only screen and (max-width: 768px) {

    * {
        color: red
    }
    
    header {
        width: 100%;
        text-align: center;

        /* Moving Header */
        z-index: 4;
        position: sticky;
        top: 0px;
    }

     #logo-img, 
     #free-class-button,
     #ul-nav {
        

       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: space-evenly;
    }

    #free-class-button {
        display: none;
    }

    .nav-links {
        z-index: 3;
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;

        background: rgb(249, 247, 247);
        
        /* background-color: purple; */
        transform: translateX(100%); 
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;

    }

    .burger {
        display: block;
        cursor: pointer;
    }

    .ul-nav-active {
        transform: translateX(0%);
    }

    .toggle .line-one {
        transform: rotate(-45deg) translate(-5px,6px)
    }
    .toggle .line-two {
        opacity: 0;
    }
    .toggle .line-three {    
        transform: rotate(45deg) translate(-5px,-6px)

    }

    @keyframes navLinkFade {
        from{
            opacity: 0;
            transform: translateX(50px)
        }
        to {
            opacity: 1;
            transform: translateX(0px)
        }

    }

    .nav-select {
        padding: 20px 0;
    }

    #free-class-button {
        margin: 50px 0 70px 0;
    }

    #hero-img {
        
        width: 100%;
        background-position:center center;
        /*background-attachment:fixed; (removed)*/
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
 
    }

    .box {
        width: 100%;
    }


    #placeholder-unit-main {
        display: flex;
        flex-direction: column;
        
    }

    #placeholder-unit-main-copy {
        display: flex;
        flex-direction: column;
    }

    #placeholder-unit-main,
    #placeholder-unit-main-copy {
        margin: 120px 0;
    }

    #left-side-copy,
    #right-side-copy {
    width: 100%;
}


    #left-side,
    #right-side {

    width: 100%;
}

    #unit-four {
        
        margin: auto;
        padding: 0;
        width: 100%;
    }

    #unit-five {
        
        background: gold;
        margin-top: 150px;
        
     
    }

    #unit-five-body-mid {
        padding: 30px 0;
    }

    #section-six {
        background: purple;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

   
    #section-six-single {
        width: 33.33%;
        justify-content: center;
        align-items: center;

    }

    .unit-seven-res, 
    .unit-seven-res p, 
    .unit-seven-img, 
    .unit-seven-res h2  {
        padding: 0 0 40px 0;
    }


    #unit-seven {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding: 0;
    }

    .unit-seven-res {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .unit-seven-img{
        width: 200%;

    }

    footer {
        display: flex;
        flex-direction: column;
    }

}

/* --------------------------------------------------------------------- */

@media only screen and (max-width: 920px) {
 
    #free-trial-main {
        margin: 150px 0;
    
        color: blue;
        width: 100%;
    }

    #free-trial-left-side{
        width: 100%;
    }

    #unit-four {
        
        margin: auto;
        padding: 0;
        width: 100%;
    }

    
    #placeholder-unit-main {
        display: flex;
        flex-direction: column;
        
    }

    #placeholder-unit-main-copy {
        display: flex;
        flex-direction: column;
    }

    #placeholder-unit-main,
    #placeholder-unit-main-copy {
        margin: 120px 0;
    }

    #left-side-copy,
    #right-side-copy {
    width: 100%;
}

    #left-side,
    #right-side {

    width: 100%;
}

.placeholder-p {
    padding: 30px 0;
}

#unit-five {
    margin: 50px 0;
}


#unit-seven {
    padding: 100px 0;
}



/* footer {

} */


}

/* ------------------------------------------------------------------- */

@media only screen and (max-width: 1216px) {

    header {
        background: rgb(249, 247, 247);
       
    }
/* 
    #unit-four {
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr ;
    } */


     #unit-four #unit-four-ul, .box {
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }

    .box {
        /* width: 50%; */
        
        height: 350px;
        width: 350px; 
        
        
    }
    }